@use "abstracts/colors";
@use "abstracts/fonts";

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  "primary":    colors.$primary,
  "secondary":  colors.$secondary,
  "success":    colors.$success,
  "info":       $info,
  "warning":    $warning,
  "danger":     colors.$danger,
  "light":      $light,
  "dark":       $dark
);

$font-size-base: 0.75rem;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$navbar-nav-link-padding-x: 0.5rem;

$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;

$input-bg: lighten(#000000, 12%);
$input-disabled-bg: lighten(#000000, 12%);
$input-color: colors.$text;
$input-focus-color: colors.$text;
$input-focus-box-shadow: none;
$input-disabled-border-color: lighten(#000000, 50%);
$input-height-sm: auto;

$dropdown-dark-bg: lighten(#000000, 10%);

@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";

$table-cell-padding-x: 1rem;
$table-cell-padding-y: 0.2rem;

$table-variants: (
  "primary":    shift-color($primary, $table-bg-scale),
  "secondary":  shift-color($secondary, $table-bg-scale),
  "success":    shift-color($success, $table-bg-scale),
  "info":       shift-color($info, $table-bg-scale),
  "warning":    shift-color($warning, $table-bg-scale),
  "danger":     shift-color($danger, $table-bg-scale),
  "light":      $light,
  "dark":       colors.$background,
);

@import "../../../node_modules/bootstrap/scss/tables";

@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";

@import "../../../node_modules/highlight.js/scss/srcery.scss";

body {
	background-color: colors.$background;
	color: colors.$text;
	font-family: fonts.$primary;
	margin: 0px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	div {
		h2 {
			margin: 0px;
		}
	}
}

p {
	margin: 0px;
}

#title {
	font-family: fonts.$title;
	font-weight: 300;
	line-height: 0.6;
}

#about {
	font-weight: 300;
	padding-left: 1px;
}

.form-control {
	width: auto;
}

#clone {
	margin-left: auto;
	margin-right: 40px;
}

#clone-url-copy {
	position: relative;
	height: 30px;
	display: block;
    text-align: left;
    margin: 5px auto;
	input {
		display: inline-block;
    	padding-right: 30px;
	}
	svg {
		content: "";
		position: absolute;
		right: 12px;
		top: 7px;
		bottom: 0;
		width: 18px;
		fill: colors.$not-selected;
		&:hover {
			fill: colors.$text;
		}
	}
}

#projects-search {
	align-items: center;
	form {
		display: flex;
		align-items: center;
		height: 35px;
		input[type=search] {
			margin-right: 15px;
		}
	}
}

#repos {
	margin-top: 25px;
	li {
		margin-bottom: 25px;
	}
}

.repo-last-updated {
	display: block;
	font-weight: 300;
	font-style: italic;
}

input[type=submit] {
	background-color: colors.$primary;
	color: colors.$text;
	font-size: 1rem;
	border: 0px;
	border-radius: 7px;
	padding: 8px 15px 8px 15px;
}

a {
	color: colors.$text;
	text-decoration: none;
	&:hover {
		color: colors.$primary-light;
	}
}

.breadcrumb {
	li {
		margin-bottom: 0.5rem;
	}
}

#commit-info {
	margin-bottom: 2rem;
	tbody tr {
		td {
			padding: 0px;
			padding-right: 10px;
		}
	}
}

.commit-file {
	margin-bottom: 50px;
	table {
		padding-top: 15px;
		tbody tr td {
			padding: 0px;
			padding-left: 8px;
			vertical-align: top;
			&:nth-child(2) {
				padding-right: 7px;
			}
			&:nth-child(3) {
				padding-right: 15px;
			}
		}
	}
}

.commit-file-add-del {
	margin-left: auto;
	margin-right: 23px;
	span {
		margin-right: 10px !important;
		font-weight: 700;
		&:nth-child(1) {
			color: colors.$new;
		}
	}
}

.commit-file-pos-change {
	color: colors.$text-gray;
}

.commit-file-no-newline {
	color: colors.$text-gray;
}

.line-new {
	color: colors.$new;
}
.line-deleted {
	color: colors.$danger;
}

.line-unchanged {
	color: colors.$text-gray;
}

.line-highlight-new {
	border-right: 1px solid colors.$new;
}
.line-highlight-deleted {
	border-right: 1px solid colors.$danger;
}

code {
	white-space: pre-wrap;
	word-wrap: anywhere;
}

.commit-file-header {
	display: flex;
	background-color: lighten(#000000, 14%);
	padding: 10px;
	span {
		margin-right: 30px;
		&:nth-child(2) {
			color: colors.$danger;
		}
	}
}

#back:hover {
	fill: colors.$primary-light;
}

#navbar {
	line-height: 0;
}

th {
	text-align: start;
}

.commit-info-title {
	color: colors.$secondary;
	padding-right: 30px;
	width: 20px;
}

.patch-too-large {
	font-weight: 600;
}

.dropdown-item {
	width: auto !important;
}

.btn-primary {
	color: colors.$text;
	&:hover {
		background-color: colors.$primary-light;
	}
}


.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
	box-shadow: none;
}

@include media-breakpoint-down(sm) {
	.commit-file table tbody tr td {
		padding-left: 4px;
		&:nth-child(2) {
			padding-right: 4px;
		}
		&:nth-child(3) {
			padding-right: 5px;
		}
	}
	.table > :not(caption) > * > * {
		padding: 0.1rem;
	}
}

@media (max-width: 1200px) {
	.fs-1 {
		font-size: calc(1.375rem + 0.667vw) !important;
	}
	.fs-2 {
		font-size: calc(1.325rem + 1.584vw) !important;
	}
	.fs-3 {
		font-size: calc(1.3rem + 0.017vw) !important;
	}
	.fs-4 {
		font-size: calc(0.82rem + 0.4vw) !important;
	}
	.fs-5 {
		font-size: calc(0.65rem + 0.25vw) !important;
	}
}