@use "abstracts/colors";
@use "abstracts/fonts";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$font-size-base: 0.75rem;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.4;
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$navbar-nav-link-padding-x: 1rem;

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";

@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

body {
	background-color: colors.$background;
	color: colors.$text;
	font-family: fonts.$primary;
}

ul {
    list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 25px;
	div {
		h2 {
			margin: 0px;
		}
	}
}

p {
	margin: 0px;
}

#title {
	font-family: fonts.$title;
	font-weight: 300;
}

#about {
	font-weight: 300;
	padding-left: 1px;
}

#projects-search {
	align-items: center;
	form {
		display: flex;
		align-items: center;
		height: 35px;
		input[type=search] {
			margin-right: 15px;
		}
	}
}

#repos {
	margin-top: 25px;
}

.repo-last-updated {
	display: block;
	font-weight: 300;
	font-style: italic;
}

input[type=submit] {
	background-color: colors.$primary;
	color: colors.$text;
	border: 0px;
	border-radius: 7px;
	padding: 8px 15px 8px 15px;
}

a {
	color: colors.$text;
	text-decoration: none;
	&:hover {
		color: colors.$primary;
	}
}

@media (max-width: 1200px) {
	.fs-1 {
		font-size: calc(1.375rem + 0.667vw) !important;
	}
	.fs-2 {
		font-size: calc(1.325rem + 1.584vw) !important;
	}
	.fs-3 {
		font-size: calc(1.3rem + 0.017vw) !important;
	}
	.fs-4 {
		font-size: calc(0.75rem + 0.4vw) !important;
	}
}